@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
  --primary-color: #C8A7FB;
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-family: Karla, sans-serif;
}

h1 {
  color: #FFF;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
}

h1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  color: #FFFFFF;
  padding: 20px;
}

.item a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

}

.item a:link,
.item a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.item a:hover,
.item a:active {
  text-decoration: underline;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}

.name img {
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
